*{
    margin:0;
    background-color: red;
}
a{
    color: white;
    text-decoration: none;
    transition: 0.35s;
    margin: 0 10px;
    line-height: 60px;
}
img{
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    height: 200px;

}

h1{
    margin-bottom: 20px;
}

h2{
    margin-bottom: 20px;
}

p{
    margin-bottom: 20px;
}

@media screen and (min-width: 800px){
    *{
        background-color:green;
    }
}